body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header{
    background-color: #232425ab;
    color: #ffffff;
    text-align: center;
    padding: 2em;
    border-radius: 0 0 1em 1em;
}

footer{
    background-color: #343235;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    border-radius: 1em 1em 0 0;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 1em;
}

main{
    padding: 2em;
    background-color: #4b3955;
    border-radius: 1em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 3em;
    margin-right: 0;
}
section{
    color:#ffffff;
    padding: 1em;
    background-color: #040c18;
    border-radius: 1em;
    margin-bottom: 1em;
    border: #b380cc 1px solid;
}
#menu{
    color: #ffffff;
}
h2{
    color: #ad20f3;
}
form{
    width: 70%;
    margin: 0 auto;
}
input[type=text], input[type="email"], textarea{
    width: 50%;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #ad20f3;
}
input[type="submit"]{
    background-color: #4e4747;
    color: #ffffff;
    border: none;
    border-radius: 1em;
    padding: 1em 2em;
    cursor: pointer;
}
aside{
    background-color: #00000085;
    padding: 2em;
    border-radius: 1em;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: #343235;
    color: #ffffff;
    text-align: left;
}
th,td{
    padding: 1em;
    border-bottom: 1px solid #ffffff;
}
img{
    max-width: 50%;
    height: auto;
    border-radius: 1em;
}
iframe{
    border: none;
}
audio{
    width: 100%;
}

#newSection{
    padding: 1%;
    background-color: #4b3955;
    margin: 1%  0;
    margin-right: 0;
    height: 1600px;
}
#whatis{
    color:#ffffff;
    padding: 1%;
    margin-bottom: 1em;
    
}
#video{
    float: right;
    width: 38%;
    height: auto;
    padding: 1em;
    border: #000000 1px solid;
}

#syntax{
    width: 700px;
    float: left;
    padding: 1%;
    margin-bottom: 1em;
    border: #b380cc 1px solid;
}

code{
    color: #ffffff;
    background-color: #000000;
    font-size: medium;
    border: #ffffff 1px solid;
    padding: 0.5em;
}
#mediaTypes{
    float: left;
    width: 700px;
    padding: 1%;
    margin-bottom: 1em;
    border: #b380cc 1px solid;
}

#mediaFeatures{
    float: left;
    width: 98%;
    padding: 1%;
    margin-bottom: 1em;
    border: #b380cc 1px solid;
}

@media screen and (max-width: 1270px){
    #newSection{
        height: auto;
    }

    #video{
        float: none;
        width: 94%;
        padding: 1em;
        border: #000000 1px solid;
    }

    #syntax{
        float: none;
        width: 98%;
    }
    
    #mediaTypes{
        margin-top: 1%;
        float: none;
        width: 98%;
    }

    #mediaFeatures{
        float: none;
        width: 98%;
    }
}

@media screen and (max-width: 685px){
    header{
        padding: 10px;
    }
    
    nav ul{
        text-align: center;
    }

    nav li{
        display: block;
        margin: 0;
    }
    main{
        margin: 10px;
    }
}

@media screen and (max-width: 600px) {
    #inicio{
        background-color: #11242480;
    }
    
}
@media screen and (max-width: 300px){
    #contact{
        content-visibility: hidden;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0;
    }
}
@media screen and (min-witdh: 500px){
    #products{
        font-size: 20px;
    }
}